$drawer-width: 300px;
$pano-size: 200px;
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#neighborhood-map {
  height: 100%;
  position: initial !important;
}

.nav-bar-search-city {
  width: 70%;
  min-width: 300px;
  display: inline-flex;
  @media screen and (min-width: 1025px) {
    margin-left: 50px;
  }
  @media screen and (max-width: 375px) {
    width: 80%;
  }
}

#pano {
  width: $pano-size;
  height: $pano-size;
}

.map_drawer {
  max-width: $drawer-width;
  width: $drawer-width;
  transform: translateX(-$drawer-width);
}

.show-makers-button{
  bottom: 20px;
  right: 70px;
  position: fixed;
}

.nav-title{
  font-weight: 800;
}
.title,.label{
  font-weight: 600;
}

.address-label-text,.map-inforwindow{
  display: flex;
}

.infor-text-rating{
  flex-flow: row wrap;
}